
.table-box{
    position: relative;
    top: 100px;
}

.table-box h1 {
    text-align: center;
    text-decoration: underline;
}

.Details table {
    border: 2px solid #514f4f;
    width: 50%;
    margin-inline: auto;
    border-collapse: collapse;
    tr:nth-child(odd) {background-color: #ededed;}
}

.Details table th {
    border: 2px solid #514f4f;
    padding: 15px;
    font-size: 20px;
    background-color: rgb(163, 159, 159);
}
.Details table td {
    border: 1px solid #514f4f;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
